@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap");

:root {
  --dark: #100f15;
  --darkblue: #0066bf;
  --green: #9abdb6;
  --lightblue: #3ca3cc;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

header {
  background-image: url("../img/controllers.png") !important;
}

::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  background-color: var(--dark);
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.debug {
  outline: 1px solid red;
}

a {
  all: unset;
  cursor: pointer;
}

.step {
  font-size: 2em;
  color: var(--green);
  text-align: center;
}

.controllers p {
  color: var(--thumbBG);
  font-size: 1.1em;
  text-align: center;
  justify-content: center;
}

.controllers {
  display: grid;
  grid-template-columns: 17% 17%;
  align-items: center;
  justify-content: center;
}

hr {
  width: 300px;
  border-color: var(--darkblue);
}


@media only screen and (max-width: 1621px) {
  .controllers {
    grid-template-columns: 20% 20%;
  }
  hr {
    width: 400px;
  }
}

@media only screen and (max-width: 971px) {
  .controllers {
    grid-template-columns: 40% 40%;
  }
  hr {
    width: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .controllers {
    grid-template-columns: 80%;
  }
  .controllers .step{
    order: 0;
  }
  .controllers p{
    order: 1;
  }
  hr {
    display: none;
  }
}

#header {
  font-size: 3em;
  color: var(--green);
  text-align: center;
}

#controllersHeader {
  font-size: 3em;
  color: var(--green);
  text-align: center;
}

.controllers a {
  color: var(--darkblue) !important;
}

#langSwSmall {
  width: 40px;
}

/* CSS */
.ourControllers {
  padding: 0px 50px;
  display: grid;
  gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto;
}

.controller-card {
  padding: 20px;
  background: linear-gradient(45deg, #c3c3c3 0%, #fff 97.2%);
  box-shadow: 0px 0px 80px 10px rgba(226, 226, 226, 0.1);
  cursor: pointer;
  max-height: 50px;
  transition-duration: 300ms;
  max-width: 250px;
}

.controller-card h1 {
  padding: 0px;
  margin: 0px;
}

.controller-card .hideable {
  visibility: hidden;
  opacity: 0;
}

/* Apply expansion effect after a delay when hovered */
.controller-card.hovered {
  max-height: 800px;
  transition-duration: 450ms;
}

.controller-card.hovered .hideable {
  visibility: visible;
  opacity: 1;
  transition-delay: 150ms;
  transition-duration: 300ms;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hideable table {
  vertical-align: middle;
  margin-top: 20px;
  width: 180px;
}

.hideable img {
  width: 20px;
  margin: auto;
}

.hideable td {
  vertical-align: top;
  padding-right: 20px;
}

.propertyHeader {
  font-weight: bold;
}

.property {
  color: #000000d6;
}


