:root {
  --dark: #100f15;
  --darkblue: #0066bf;
  --green: #9abdb6;
  --lightblue: #3ca3cc;
}

header {
  position: relative;
  background: url("../img/euroscope.png"), lightgray 0% / cover no-repeat;
  mix-blend-mode: screen;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-position: center center !important;
}

html {
  scroll-behavior: smooth;
}

.header-center {
  color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-center h1 {
  font-size: 4em;
  margin: 0px;
}

.header-center p {
  font-size: 1.3em;
  margin: 0px;
  font-weight: bold;
  padding: 0px;
  height: fit-content;
}

footer {
  background-color: #13111791;
  color: #7e7e7e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: 120px;
}

footer a {
  color: #0066bf6b;
}

footer p {
  height: fit-content !important;
  line-height: 0px;
}

.downarrow {
  position: absolute;
  width: 40px;
  bottom: 40px;
  opacity: 0.6;
  animation: moveArrow 1s infinite;
}

@media only screen and (max-width: 460px) {
  .downarrow {
    width: 25px;
    position: absolute;
    bottom: 20vh;
    animation: moveArrowSmall 1s infinite;
  }  
}

@media only screen and (max-height: 740px) {
  .downarrow {
    bottom: 10vh;
    animation: moveArrowSmallHeight 1s infinite;
  }  
}

@keyframes moveArrowSmallHeight {
  0% {
    bottom: 10vh;
  }
  50% {
    bottom: 11vh;
  }
  100% {
    bottom: 10vh;
  }
}

@keyframes moveArrowSmall {
  0% {
    bottom: 20vh;
  }
  50% {
    bottom: 21vh;
  }
  100% {
    bottom: 20vh;
  }
}

@keyframes moveArrow {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}
