@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap");

:root {
  --dark: #100f15;
  --darkblue: #0066bf;
  --green: #9abdb6;
  --lightblue: #3ca3cc;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  margin: 0px;
  padding: 0px;
  background-color: var(--dark);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  background-image: url("../img/notfound.png") !important;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.debug {
  outline: 1px solid red;
}

a {
  all: unset;
  cursor: pointer;
}