@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap");

:root {
  --dark: #100f15;
  --darkblue: #0066bf;
  --green: #9abdb6;
  --lightblue: #3ca3cc;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 11px;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url("../img/about-us.png") !important;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.debug {
  outline: 1px solid red;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--dark);
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn {
  margin-top: 30px;
  font-size: 1.3em;
  color: #fff;
  padding: 10px 35px;
  font-weight: 700;
}

.btn-blue {
  background: hsla(207, 100%, 50%, 1);

  background: linear-gradient(
    135deg,
    hsla(207, 100%, 50%, 1) 0%,
    hsla(197, 59%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(207, 100%, 50%, 1) 0%,
    hsla(197, 59%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(207, 100%, 50%, 1) 0%,
    hsla(197, 59%, 52%, 1) 100%
  );
}

.content{
  color: #fff;
  padding: 0% 20%;
}

a {
  color: var(--darkblue)
}